<div class="row mt-2">
  <div class="col-md-2">
    <div class="img-div border border-success shadow rounded"></div>
  </div>
  <div class="col-md-10">
    <div
      class="about-content p-4 bg-white border border-success shadow rounded"
    >
      <section class="p-4 bg-success bg-gradient rounded shadow">
        <div class="row">
          <p class="text-white">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione nobis illum autem optio vero veritatis distinctio suscipit animi laboriosam fugit labore architecto officiis, culpa ea quae molestias accusamus porro exercitationem aut debitis fugiat beatae dolores? Repellendus blanditiis laboriosam doloribus, sed explicabo voluptate quasi tempore hic obcaecati rem veniam nam adipisci! Obcaecati mollitia, quisquam consequuntur quia alias, ut fugiat error quo eum sunt nulla a aut rerum, aliquid optio eaque. Odio dolorum consequatur temporibus molestiae ipsam facere deleniti error provident. Ipsum cupiditate, rem dolorum, aliquam libero atque tempora consequuntur cum quia quas ea! Mollitia iusto ducimus magni, pariatur modi dolorem deleniti.
          </p>
        </div>
      </section>
      <div class="row">
        <div class="col-md-4 mt-2">
          <div class="card border border-success shadow">
            <div class="card-body">
              <h5 class="card-title">
                Card title
              </h5>
              <p class="card-text">
                Some quick example text to build on the card title and make up the
                bulk of the card's content.
              </p>
              <a href="#" class="btn btn-primary">
                Go somewhere
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4 mt-2">
          <div class="card border border-success shadow">
            <div class="card-body">
              <h5 class="card-title">
                Card title
              </h5>
              <p class="card-text">
                Some quick example text to build on the card title and make up the
                bulk of the card's content.
              </p>
              <a href="#" class="btn btn-primary">
                Go somewhere
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4 mt-2">
          <div class="card border border-success shadow">
            <div class="card-body">
              <h5 class="card-title">
                Card title
              </h5>
              <p class="card-text">
                Some quick example text to build on the card title and make up the
                bulk of the card's content.
              </p>
              <a href="#" class="btn btn-primary">
                Go somewhere
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>