@import "components/carousel.css";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


/* Navbar */

.nav-fondo {
  height: 100px;
  -webkit-transition: all ease-out .5s;
  -moz-transition: all ease-out .5s;
  -o-transition: all ease-out .5s;
  transition: all ease-out .5s;
}

.change {
  height: 60px;
  background-color: rgba(0, 0, 0, .9);
  /* background-color: rgba(191, 27, 117, .7); */
  /* background-color: rgba(102, 13, 140, .5); */
}



/* Products Card */

.container {
    min-height: 100vh;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center
}

p {
    margin: 0px
}

.card {
    width: 280px;
    height: 520px;
    margin-top: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background: #fff;
    transition: all 0.5s ease;
    cursor: pointer;
    user-select: none;
    z-index: 10;
    overflow: hidden
}

.card .backgroundEffect {
    bottom: 0;
    height: 0px;
    width: 100%
}

.card:hover {
    color: #fff;
    transform: scale(1.025);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 10px
}

.card:hover .backgroundEffect {
    bottom: 0;
    height: 320px;
    width: 100%;
    position: absolute;
    z-index: -1;
    background: #1b9ce3;
    animation: popBackground 0.3s ease-in
}

@keyframes popBackground {
    0% {
        height: 20px;
        border-top-left-radius: 50%;
        border-top-right-radius: 50%
    }

    50% {
        height: 80px;
        border-top-left-radius: 75%;
        border-top-right-radius: 75%
    }

    75% {
        height: 160px;
        border-top-left-radius: 85%;
        border-top-right-radius: 85%
    }

    100% {
        height: 320px;
        border-top-left-radius: 100%;
        border-top-right-radius: 100%
    }
}

.card .pic {
    position: relative
}

.card .pic img {
    width: 100%;
    height: 280px;
    object-fit: cover
}

.card .date {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 70px;
    background-color: #1b9ce3;
    color: white;
    position: absolute;
    bottom: 0px;
    transition: all ease
}

.card .date .day {
    font-size: 14px;
    font-weight: 600
}

.card .date .month,
.card .date .year {
    font-size: 10px
}

.card .text-muted {
    font-size: 12px
}

.card:hover .text-muted {
    color: #fff !important
}

.card .content {
    padding: 0 20px
}

.card .content .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background-color: #1b9ce3;
    border-radius: 25px;
    font-size: 11px;
    border: none
}

.card:hover .content .btn{
    background: #fff;
    color: #1b9ce3;
    box-shadow: #0000001a 0px 3px 5px
}

.card span{
  font-size: 25px;
}

.card:hover span{
  color: #1b9ce3;
}

.card .content .btn .fas {
    font-size: 10px;
    padding-left: 5px
}

.card .content .foot .admin {
    color: #1b9ce3;
    font-size: 12px
}

.card:hover .content .foot .admin {
    color: #fff
}

.card .content .foot .icon {
    font-size: 12px
}




/* button see more products */

.animated-btn {
  width: 170px;
  height: 60px;
  line-height: 60px;
  display: inline-block;
  text-align: center;
  background: #1b9ce3;
  position: relative;
  font-size: 20px;
}

.animated-btn::before, .animated-btn::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(27, 156, 227, 0.8);
  animation: ripple-1 2s infinite ease-in-out;
  z-index: -1;
}

.animated-btn::after {
  background: rgba(27, 156, 227, 0.6);
  animation: ripple-2 2s infinite ease-in-out;
  animation-delay: 0.5s;
}

@keyframes ripple-1 {
  0% {
      transform: scale(1);
      opacity: 1;
  }

  100% {
      transform: scale(1.5);
      opacity: 0;
  }
}

@keyframes ripple-2 {
  0% {
      transform: scale(1);
      opacity: 1;
  }

  100% {
      transform: scale(1.7);
      opacity: 0;
  }
}


/* Info Container */

.container-info{
  width: 100vw;
  height: 400px;
  margin: 150px 0;
  padding: 50px 0;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.7)
  ), url("/img/img-fixed.jpg");
  background-position: center;
  background-size: contain;
  background-attachment: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  color: #fff;
}

.container-info h2{
  font-size: 40px;
}

.text-information{
  width: 50%;
  font-size: 20px;
}

.buttom{
  background-color: transparent;
  width: 180px;
  height: 70px;
  border-radius: 38px;
  color: #fff;
}

.buttom:hover{
  background-color: rgba(255, 255, 255, .1);
}




/* carrousell-demonstrations */

.footer-demonstrations{
  width: 100vw;
  height: 500px;
  background-color: #222;
  padding-top: 50px;
}

.images-demonstrations{
  display: flex;
  justify-content: center;
}

.images-demonstrations img{
  width: 180px;
  height: 180px;
}



/* social networks */

.social-networks{
  margin: 50px 0 100px 0;
  display: flex;
  justify-content: center;
}

.btn {
  white-space:nowrap;
  font-size:.8em;
  display:inline-block;
  border-radius:5px;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.35);
  margin:2px;
  -webkit-transition:all .5s;
  -moz-transition:all .5s;
  transition:all .5s;
  overflow:hidden;
}

.btn:hover {
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.45);
}

.btn:focus {
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.4);
}

.btn > span,.btn-icon > i {
  float: left;
  padding:13px;
  -webkit-transition:all .5s;
  -moz-transition:all .5s;
  transition:all .5s;
  line-height:1em
}

.btn > span {
  padding:14px 18px 16px;
  white-space:nowrap;
  color:#FFF;
  background:#b8b8b8
}

.btn:focus > span {
  background:#9a9a9a
}

.btn-icon > i {
  position:relative;
  width:15px;
  margin-right:20px ;
  font-size:1.5em;
  color:#fff;
  background-color: transparent;
}

.btn-icon > i:after {
  content:"";
  border-color:transparent transparent transparent #222;
  position:absolute;
  top:13px;
  right:-15px
}

.btn-icon:hover > i,.btn-icon:focus > i {
  color:#FFF
}

.btn-icon > span {
  border-radius:0 5px 5px 0
}

/*Facebook*/
.btn-facebook:hover > i,.btn-facebook:focus > i {
  color:#3b5998
}

.btn-facebook > span {
  background:#3b5998
}

/*Twitter*/
.btn-twitter:hover > i,.btn-twitter:focus > i {
  color:#55acee
}

.btn-twitter > span {
  background:#55acee
}

/*WhastApp*/
.btn-googleplus:hover > i,.btn-googleplus:focus > i {
  color:#25D366
}

.btn-googleplus > span {
  background:#25D366
}

/*Instagram*/
.btn-pinterest:hover > i,.btn-pinterest:focus > i {
  color:#DD2A7B
}

.btn-pinterest > span {
  background:#DD2A7B
}



/* rights reserved */

.rights-reserved{
  color: #aaa;
  text-align: center;
}
