<div class="container">
  <div class="card card-body p-4 rounded-0 bg-dark text-white">
    <h3>
      Agregar producto
    </h3>
    <form action="/products/create" method="POST" enctype="multipart/form-data">
      <div>
        <label for="name">
          Nombre
        </label>
        <input
          type="text"
          name="name"
          placeholder="name"
          id="name"
          class="form-control rounded-0 bg-dark text-white"
        />
      </div>
      <div>
        <label for="description">
          description:
        </label>
        <textarea
          name="description"
          placeholder="Description"
          id="description"
          class="form-control rounded-0 bg-dark text-white"
        ></textarea>
      </div>
      <div>
        <label for="price">
          Precio
        </label>
        <input
          type="text"
          name="price"
          placeholder="price"
          id="price"
          class="form-control rounded-0 bg-dark text-white"
        />
      </div>
      <div>
        <label for="images">
          Imagenes
        </label>
        <input
          type="file"
          name="images"
          multiple
          id="images"
          class="form-control rounded-0 bg-dark text-white"
          accept="image/png, image/jpeg, image/jpg"
        />
      </div>
      <button class="btn btn-primary btn-sm mt-2">
        Agregar
      </button>
    </form>
  </div>
</div>