{{! <div class="container">
  <div class="card card-body p-4 rounded-0 bg-dark text-white">
    <h3>
      Agregar producto
    </h3>
    <form action="/products/create" method="POST" enctype="multipart/form-data">
      <div>
        <label for="name">
          Nombre
        </label>
        <input
          type="text"
          name="name"
          placeholder="name"
          id="name"
          class="form-control rounded-0 bg-dark text-white"
        />
      </div>
      <div>
        <label for="description">
          description:
        </label>
        <textarea
          name="description"
          placeholder="Description"
          id="description"
          class="form-control rounded-0 bg-dark text-white"
        ></textarea>
      </div>
      <div>
        <label for="price">
          Precio
        </label>
        <input
          type="text"
          name="price"
          placeholder="price"
          id="price"
          class="form-control rounded-0 bg-dark text-white"
        />
      </div>
      <div>
        <label for="images">
          Imagenes
        </label>
        <input
          type="file"
          name="images"
          multiple
          id="images"
          class="form-control rounded-0 bg-dark text-white"
          accept="image/png, image/jpeg, image/jpg"
        />
      </div>
      <button class="btn btn-primary btn-sm mt-2">
        Agregar
      </button>
    </form>
  </div>
</div>
 }}

<div class="contenedor-form">
  <div class="container-fluid px-1 py-5 mx-auto">
    <div class="row d-flex justify-content-center">
      <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center">

        <div class="card-form-create">
          <h3 class="text-center mb-4">Agregar Productos Carcamo</h3>

          <form
            class="form-card"
            action="/products/create"
            method="POST"
            enctype="multipart/form-data"
          >

            <div class="row justify-content-between text-left">
              <div class="form-group col-sm-6 flex-column d-flex">
                <label for="name" class="form-control-label px-3">
                  Nombre
                  <span class="text-danger"> *</span>
                </label>
                <input
                  type="text"
                  id="name"
                  name="name"
                  placeholder="Nombre del Producto"
                  onblur="validate(1)"
                />
              </div>
              <div class="form-group col-sm-6 flex-column d-flex">
                <label for="price" class="form-control-label px-3">
                  Precio
                  <span class="text-danger"> *</span>
                </label>
                <input
                  type="number"
                  id="price"
                  name="price"
                  placeholder="Precio del Producto"
                  onblur="validate(2)"
                />
              </div>
            </div>

            <div class="row justify-content-between text-left">
              <div class="form-group col-sm-6 flex-column d-flex">
                <label for="description" class="form-control-label px-3">
                  descripción
                <span class="text-danger"> *</span>
                </label>
                <textarea
                  name="description"
                  placeholder="Description"
                  id="description"
                  style="resize: none;"
                ></textarea>
              </div>

              <div class="form-group col-sm-6 flex-column d-flex">
                <label class="form-control-label px-3">
                  Imagen de Portada
                  <span class="text-danger"> *</span>
                </label>
                <input
                  type="file"
                  name="images"
                  multiple
                  id="images"
                  accept="image/png, image/jpeg, image/jpg"
                  onblur="validate(4)"
                />
              </div>
            </div>

            <div class="row justify-content-center mt-4">
              <div class="form-group col-sm-6">
                <button
                  type="submit"
                  class="btn-block btn-primary"
                >Agregar</button>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>