<h1>
  {{product.name}}
</h1>
<h2>
  {{product.description}}
</h2>
<h3>
  {{product.price}}
</h3>
<form action="/products/{{product._id}}/delete" method="post">
  <input type="submit" value="Eliminar" />
</form>